* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18px;
    background-color:beige;
}

.titulo {
    width: 100%;
}

h1 {
    max-width: 800px;
    font-size: 2.5em; /*em es tamaño relativo al tamaño del contenedor*/
    font-family: Lato, sans-serif;
    font-weight: 700; /*grozor de letra*/
    line-height: 1.1; /*espacio entre lienas*/
    margin: 40px 0;
    padding: 0 0 0 30%;
}

.App {
    min-height: 100vh; /*vh adapta el tamaño de la pag al 100% al tamaño del dispositivo verticalmente*/
    display: flex; /*define ubicacion de elementos*/
    flex-wrap: wrap; /*si un elemento ocupa todo el ancho, los otros elementos pasan a la siguiete linea*/
    align-items: center; /*centrar elementos vertical*/
    justify-content: center; /*centra elementos hotizontal*/
    text-align: center;
}

.contenedor-principal {
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



